.footer {
    background-color: #659f8f;
}

.container {
    padding: 48px 24px 48px 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: ;
}

.column-text {
    display: flex;
    justify-content: ;
}



/*column-section*/

@media (max-width: 768px) {
    .column {
        flex-direction: column;
    }
    .column-text {
        flex-direction: row;
    }
  }
@media (max-width: 375px) {
    .column-text {
        flex-direction: column;
    }
}


/*column-1*/

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h2 {
    font-weight: lighter;
    font-size: x-large;
}

.buttons {
    padding: 10px 0px 40px 0px;
}
.email-input {
    width: 200px;
}

.btn {
    width: 90px;
}

@media (max-width: 375px) {
    .btn {
        width: 207px;
    }
}
/*column-2*/

.column-2 {
    display: flex;
    flex-direction: column;
    
}

span {
    font-weight: lighter;
    font-size: medium;
}

ul {
    list-style: none;
    padding: 0px;
}

/*column-3*/

/*bottom-section*/

hr {
    width: 100%;
    color: orange;
}
.line-image {
    display: flex;
    flex-direction: column;
   
}

.image {
    width: auto;
    height: 28px;
    padding: 1.5em;
}